<!DOCTYPE html>
<html>
 <head>
     <link rel="stylesheet" href="asma.css">
      <title>terre d'utique</title>
 </head>


 <body>
    <div class="grid-container">
        <header class="header">
            <div>
                <img class="logo" src="C:\Users\LENOVO\Desktop\terre\shop\template/logo.png"> 
                <div class="side-bar">
                  <button  onclick="openMenu()">
                  &#9776;
                  </button>
                </div> 
           
             </div> 
    
            
            <div class="brand">
               
                <a href="index.html">terre d'utique</a>
            </div>
            <div class="header-links">
                <a href="cart">panier</a>
                <a href="signin.html">connecter</a>

            </div>
        </header>
        <aside class="sidebar">
            <h3>les catégories</h3>
             <button class="sidebar-close-button" onclick="closeMenu()"> x </button>
            <ul>
                <li>
                    <a href="index.html">huile d'olive</a>
                </li>
                <li>
                    <a href="index.html">epicerie fine</a>
                </li>
            </ul>


        </aside>




        
        <main class="main">
            <div class="content">
            <ul class="products">
                <li> 
                    <div class="product">
                        <img class="product-image" src="C:\Users\LENOVO\Desktop\terre\shop\template/500-ml.jpg" alt="product">
                        <div class="product-name">
                            <a href="product.html">huile d'olive 1</a>
                        </div>
                        <div class="product-brand">500ml</div>
                        <div class="product-price">3£</div>
                    </div>

                </li>

                <li> 
                    <div class="product">
                        <img class="product-image" src="C:\Users\LENOVO\Desktop\terre\shop\template/500-ml.jpg" alt="product">
                        <div class="product-name">
                            <a href="product.html">huile d'olive 1</a>
                        </div>
                        <div class="product-brand">500ml</div>
                        <div class="product-price">3£</div>
                    </div>

                </li>


                <li> 
                    <div class="product">
                        <img class="product-image" src="C:\Users\LENOVO\Desktop\terre\shop\template/500-ml.jpg" alt="product">
                        <div class="product-name">
                            <a href="product.html">huile d'olive 1</a>
                        </div>
                        <div class="product-brand">500ml</div>
                        <div class="product-price">3£</div>
                    </div>

                </li>


                <li> 
                    <div class="product">
                        <img class="product-image" src="C:\Users\LENOVO\Desktop\terre\shop\template/500-ml.jpg" alt="product">
                        <div class="product-name">
                            <a href="product.html">huile d'olive 1</a>
                        </div>
                        <div class="product-brand">500ml</div>
                        <div class="product-price">3£</div>
                    </div>

                </li>


                <li> 
                    <div class="product">
                        <img class="product-image" src="C:\Users\LENOVO\Desktop\terre\shop\template/500-ml.jpg" alt="product">
                        <div class="product-name">
                            <a href="product.html">huile d'olive 1</a>
                        </div>
                        <div class="product-brand">500ml</div>
                        <div class="product-price">3£</div>
                    </div>

                </li>
                <li> 
                    <div class="product">
                        <img class="product-image" src="C:\Users\LENOVO\Desktop\terre\shop\template/500-ml.jpg" alt="product">
                        <div class="product-name">
                            <a href="product.html">huile d'olive 1</a>
                        </div>
                        <div class="product-brand">500ml</div>
                        <div class="product-price">3£</div>
                    </div>

                </li>

                
            </ul> 
            </div>

        </main>

        <footer class="footer">all rights reserved . </footer>


    </div>


 
 <script>
     function openMenu(){
     document.querySelector(".sidebar").classList.add("open"); 
     }
     function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open")
    }

 </script>
</body>

</html>